<%- layout("/layouts/boilerplate") %>

    <body><br>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Create New Listing</h3>
                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-2">
                        <label for="title" class="form-label col-8">Title</label>
                        <input type="text" placeholder="enter title" name="listing[title]" class="form-control" required>
                        <div class="valid-feedback">This looks good</div>
                    </div>
                    <!-- ham name ko aise isi liye likh rahe he kyu ki easily acces ho app.js ke post wale route me (listings obh ka key he title) -->
                    <div class="mb-2">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" name="listing[description]" required></textarea>
                        <div class="invalid-feedback">Description should be short</div>
                    </div>
                    <div class="mb=2">
                        <label for="image" class="form-label">Upload listing Image</label>
                        <input type="file" name="image" class="form-control" required>
                        <div class="invalid-feedback">Please upload Image </div>

                    </div>
                    <div class="row">
                        <div class="mb-2 col-3">
                            <label for="price" class="form-label">Price</label>
                            <input placeholder="enter price" name="listing[price]" class="form-control" required>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-2 col-3">
                            <label class="form-label">Category</label>
                            <select name="listing[category]" class="form-select" required>
                                <option value="">Select Category</option>
                                <option value="mountain"> Mountain</option>
                                <option value="beach">Beach</option>
                                <option value="farm">Farm</option>
                                <option value="cities">cities</option>
           
                                <option value="campain">camping</option>
                                <option value="castle">castle</option>
                                <option value="pool">pool</option>
                                <option value="forest">forest</option>
                                <option value="desert">desert</option>
                                <option value="island">island</option>
                            </select>
                        </div>
                        <div class="mb-2  col-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" placeholder="enter country" name="listing[country]" class="form-control" required>
                            <div class="invalid-feedback">Country shouold be valid</div>
                        </div>

                    </div>

                    <div class="mb-2">
                        <label for="location" class="form-label">location</label>
                        <input type="text" placeholder="enter location" name="listing[location]" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <button class="btn btn-dark">Add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>

    </html>