body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    /*  styling to symbol */
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info link a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    margin-left: 1.2rem;
}

.f-info {
    text-align: center;
    font-size: 1.2rem;
    height: 7rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-image-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.show_img {
    height: 30vh;
    width: 30rem !important;
}

.card-text {
    width: 28rem !important;
}

.show-btns {
    display: flex !important;
}

.show-edit {
    margin-right: 1rem !important;
}

.search-bar {
    width: 380px;
}

.search-container {
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px 20px 10px 45px;
    /* space for icon */
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #ff385c;
    box-shadow: 0 0 5px rgba(255, 56, 92, 0.4);
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 14px;
}