<nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">

        <!-- LOGO -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
        </a>

        <!-- HAMBURGER -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <!-- LEFT -->
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <!-- SEARCH -->
            <form class="mx-auto search-bar" action="/listings/search" method="GET">
                <div class="search-container">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="text" name="search" class="search-input" placeholder="Search listings...">
                </div>
            </form>

            <!-- RIGHT -->
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Add New Listing</a>

                <% if(!currentUser){ %>
                    <a class="nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                    <% } %>

                        <% if(currentUser){ %>
                            <a class="nav-link" href="/logout"><b>Log out</b></a>
                            <% } %>
            </div>

        </div>
    </div>
</nav>

<script>
    document.querySelectorAll(".nav-link").forEach(link => {
        link.addEventListener("click", () => {
            let navbarCollapse = document.getElementById("navbarNavAltMarkup");
            let bsCollapse = new bootstrap.Collapse(navbarCollapse, {
                toggle: false
            });
            bsCollapse.hide();
        });
    });
</script>